<div class="container"> 
  <form class="w-75 mx-auto">
    <div class="form-row my-5">
      <div class="col-md-12">
        <select id="inputState" class="form-control">
          <option selected>Choose Amount</option>
          <option>₦50</option>
          <option>₦100</option>
          <option>₦200</option>
          <option>₦500</option>
          <option>₦1000</option>
        </select>
      </div>
    </div>
    <h6>Choose Your Card</h6>
    <div class="form-row justify-content-around">
      <div class="col-md-3">
        <label class="labl img1">
          <input type="radio" name="radioname" value="one_value" checked="checked" />
          <div><img src="../../assets/rich.svg" class="py-2" width="40px">
            <p>123456</p>
          </div>
        </label>
      </div>
      <div class="col-md-3">
        <label class="labl img2">
          <input type="radio" name="radioname" value="another" />
          <div> <img src="../../assets/change.svg" class="py-2" width="40px">
            <p>123456</p>
          </div>
        </label>
      </div>
      <div class="col-md-3">
        <label class="labl img3">
          <input type="radio" name="radioname" value="another" />
          <div><img src="../../assets/coin.svg" class="py-2" width="40px">
            <p>123456</p>
          </div>
        </label>
      </div>
      <div class="col-md-3">
        <label class="labl img4">
          <input type="radio" name="radioname" value="another" />
          <div> <img src="../../assets/coins.svg" class="py-2" width="40px">
            <p>123456</p>
          </div>
        </label>
      </div>
    </div>

    <div class="form-row my-5">
      <div class="col-md-8">
        <!-- Counter 1 -->
         <!-- <div class=" m-2 p-2 odometer">1234567</div> -->
        
          <!-- Counter 2 -->
        <div id="counter" class="animated">
          <ul class="digits digits-first luckie">
            <li> 0 <li> 1 <li> 2 <li> 3 <li> 4 <li> 5 <li> 6 <li> 7 <li> 8 <li> 9
          </ul>
          <ul class="digits digits-second luckie">
            <li> 0 <li> 1 <li> 2 <li> 3 <li> 4 <li> 5 <li> 6 <li> 7 <li> 8 <li> 9
          </ul>
          <ul class="digits digits-third luckie">
            <li> 0 <li> 1 <li> 2 <li> 3 <li> 4 <li> 5 <li> 6 <li> 7 <li> 8 <li> 9
          </ul>
        </div>

      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-warning px-4 my-3">PLAY</button>
  </form>
</div>
