.odometer {
   font-size: 2em;
}

/**
 * Quick and easy CSS3 rolling-number/slot machine?
 */

#counter {
   height: 2em;
   overflow: hidden;
}

.digits {
   float:left;
   list-style-type: none;
   font-size: 2em;
   line-height: 1em;
}

.digits-first {
   margin-top: -4em; /* number 4! */
}

.digits-second {
   margin-top: 0em; /* number 0! */
}

.digits-third {
   margin-top: -4em; /* number 4! */
}

.digits {
   animation-duration: 5s;
   animation-timing-function: ease;
   animation-delay: 2.2s;
   animation-fill-mode: forwards;
}

.luckie {
   animation-name: luckie;
}

/* Animations */
@keyframes luckie {
   100% {
       margin-top: -7em;
   }
}

/* Styling for the Choosing of Cards */
.cc-selector input{
   margin:0;padding:0;
   -webkit-appearance:none;
      -moz-appearance:none;
           appearance:none;
}

.cc-selector-2 input{
   position:absolute;
   z-index:999;
}

.card1{background-image:url(../../assets/Card1.png);}
.card2{background-image:url(../../assets/Card2.png);}
.card3{background-image:url(../../assets/Card3.png);}
.card4{background-image:url(../../assets/Card4.png);}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
   -webkit-filter: none;
      -moz-filter: none;
           filter: none;
}
.drinkcard-cc{
   cursor:pointer;
   background-size:contain;
   background-repeat:no-repeat;
   width:100px;height:70px;
   -webkit-transition: all 100ms ease-in;
      -moz-transition: all 100ms ease-in;
           transition: all 100ms ease-in;
   -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
      -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
           filter: brightness(1.8) grayscale(1) opacity(.7);
}
/* .drinkcard-cc:hover{
   -webkit-filter: brightness(1.2) grayscale(.5) opacity(1);
      -moz-filter: brightness(1.2) grayscale(.5) opacity(1);
           filter: brightness(1.2) grayscale(.5) opacity(1);
} */

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

/* Styling for the choosing of cards */