

.odometer {
   font-size: 2em;
}

/**
 * Quick and easy CSS3 rolling-number/slot machine?
 */

 .animated {
    margin-left: 20%;
 }

#counter {
   height: 2em;
   overflow: hidden;
}

.digits {
   float:left;
   list-style-type: none;
   font-size: 2em;
   line-height: 1em;
}

.digits-first {
   margin-top: -4em; /* number 4! */
}

.digits-second {
   margin-top: 0em; /* number 0! */
}

.digits-third {
   margin-top: -4em; /* number 4! */
}

.digits {
   animation-duration: 5s;
   animation-timing-function: ease;
   animation-delay: 2.2s;
   animation-fill-mode: forwards;
}

.luckie {
   animation-name: luckie;
}

/* Animations */
@keyframes luckie {
   100% {
       margin-top: -7em;
   }
}

/* The Sliding Text */
      /* Make it a marquee */
      .marquee {
         width: 350px;
         margin: 0 auto;
         overflow: hidden;
         white-space: nowrap;
         box-sizing: border-box;
         animation: marquee 15s linear infinite;
       }
       
       .marquee:hover {
         animation-play-state: paused
       }

/* Styling for the choosing of cards */
.img1 {
   background: #fdef72;
   cursor: pointer;
}
.img2 {
   background: #45f6e2;
   cursor: pointer;
}
.img3 {
   background: #51ff9c;
   cursor: pointer;
}
.img4 {
   background: #ff8484;
   cursor: pointer;
}

/* Input Styling */
.labl {
   display:flex;
   justify-content: center;
}
.labl > input{ /* HIDE RADIO */
   visibility: hidden; /* Makes input not-clickable */
   position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
   cursor:pointer;
   border:2px solid transparent;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: #dddddd;
   border: 5px solid #d86f54;
   width: 100%;
}

/* Input Styling Ends */