<div class="container">
  <img src="../../assets/nysp.jpg" class="my-3" width="100%">
  <form class="w-75 mx-auto">
    <div class="form-row my-5">
      <div class="col-md-12">
        <select id="inputState" class="form-control">
          <option selected>Choose Amount</option>
          <option>₦50</option>
          <option>₦100</option>
          <option>₦200</option>
          <option>₦500</option>
          <option>₦1000</option>
        </select>
      </div>
    </div>
    <h6>Choose Your Card</h6>
    <div class="form-row justify-content-around">
      <div class="col-md-3">
        <label class="labl img1">
          <input type="radio" name="radioname" value="one_value" checked="checked" />
          <div><img src="../../assets/rich.svg" class="py-2" width="40px">
            <div  class="number">1000000001</div>
          </div>
        </label>
      </div>
      <div class="col-md-3">
        <label class="labl img2">
          <input type="radio" name="radioname" value="another" />
          <div> <img src="../../assets/change.svg" class="py-2" width="40px">
            
            <div  class="number">1000000001</div>
            
          </div>
        </label>
      </div>
      <div class="col-md-3">
        <label class="labl img3">
          <input type="radio" name="radioname" value="another" />
          <div><img src="../../assets/coin.svg" class="py-2" width="40px">
            <div  class="number">1000000001</div>
          </div>
        </label>
      </div>
      <div class="col-md-3">
        <label class="labl img4">
          <input type="radio" name="radioname" value="another" />
          <div> <img src="../../assets/coins.svg" class="py-2" width="40px">
            <div  class="number">1000000001</div>
          </div>
        </label>
      </div>
    </div>

    <div class="form-row my-5">
      <div class="col-md-8">
        <!-- Counter 1 -->
         <!-- <div class=" m-2 p-2 odometer">1234567</div> -->
        
          <!-- Counter 2 -->
          <div id="odometer4" class="odometer">1000000001</div>

      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-warning px-4 my-3">PLAY</button>
  </form>
</div>
<script  src="./odometer/odometer.js" ></script>