<div class="container-fluid bg"> 
 
  <form class="w-80 mx-auto">
    <div class="form-row my-5">
      <div class="col-md-4">
        <select id="inputState" class="form-control" (change)="selectAmount($event)">
          <option selected>Choose Amount</option>
          <option value="50">₦50</option>
          <option value="100">₦100</option>
          <option value="200">₦200</option>
          <option value="500">₦500</option>
          <option value="1000">₦1000</option>
        </select>
        <span>Selected amount: ₦ {{amt}}</span>
      </div>
      
      <div class="col-md-6 offset-2">
        <button class="btn btn-lg btn-warning px-4" [disabled]="!showSpin" (click)='getValues()'>Shuffle Number</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
       <div class="col-md-4">      
    </div>
    </div>
   
    
    <h6>Choose Your Card</h6>
    <div class="form-row justify-content-around my-3">
      <div class="col-sm-6 col-md-6 col-lg-3 h-100">
        <label class="labl" (click)="chooseBox(number1)">
          <input type="radio" name="radioname" value="one_value"  />
          <!-- <div><img src="../../assets/brand1.png" class="py-2" width="40px">
            <div  class="number" >{{number1}}</div>
          </div> -->
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/brand1.png" width="200px">
              </div>
              <div class="flip-card-back">
                  <img src="../../assets/card-back.png" width="200px">
                <div class="number">{{number1}}</div>
              </div>
            </div>
          </div>
        </label>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <label class="labl" (click)="chooseBox(number2)">
          <input type="radio" name="radioname" value="another" />
          <!-- <div> <img src="../../assets/change.svg" class="py-2" width="40px">
            
            <div  class="number">{{number2}}</div>
            
          </div> -->
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/brand1.png" width="200px">
              </div>
              <div class="flip-card-back">
                  <img src="../../assets/card-back.png" width="200px">
                  <div class="number">{{number2}}</div>
              </div>
            </div>
          </div>
        </label>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <label class="labl" (click)="chooseBox(number3)">
          <input type="radio" name="radioname" value="another" />
          <!-- <div><img src="../../assets/coin.svg" class="py-2" width="40px">
            <div  class="number">{{number3}}</div>
          </div> -->
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/brand1.png" width="200px">
              </div>
              <div class="flip-card-back">
                  <img src="../../assets/card-back.png" width="200px">
                  <div class="number">{{number3}}</div>
              </div>
            </div>
          </div>
        </label>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <label class="labl"  (click)="chooseBox(number4)">
          <input type="radio" name="radioname" value="another" />
          <!-- <div> <img src="../../assets/coins.svg" class="py-2" width="40px">
            <div  class="number">{{number4}}</div>
          </div> -->
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/brand1.png" width="200px">
              </div>
              <div class="flip-card-back">
                  <img src="../../assets/card-back.png" width="200px">
                  <div class="number">{{number4}}</div>
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>

    <div class="form-row justify-content-center my-5">
      <div class="col-md-8 text-center">
        <!-- Counter 1 -->
         <!-- <div class=" m-2 p-2 odometer">1234567</div> -->
        
          <!-- Counter 2 -->
          <div  id="odometer1" class="odometer d-block text-center">100000001</div>
          <button (click)="PlayGame()" class="btn btn-lg btn-warning px-5 my-5">{{playText}}</button>
      </div>
    </div>
    
  </form>
  <div>
      <h3>How it works</h3>
      <ul>
        <li>Choose amount to play</li>
        <li>Shuffle your cards, if not satisfied, shuffle again</li>
        <li>Hover on the cards to preview</li>
        <li>Select the desired card</li>
        <li>Click on the play button</li>
        <li>Your chances of winning is 1/4, simply review the selected card if it marches the System Random Generated Card</li>
      </ul>
    </div>
    <br/>
</div>
<script  src="./odometer/odometer.js" ></script>
