.odometer {
   font-size: 2em;
}

/**
 * Quick and easy CSS3 rolling-number/slot machine?
 */

 .animated {
    margin-left: 20%;
 }

#counter {
   height: 2em;
   overflow: hidden;
}

.digits {
   float:left;
   list-style-type: none;
   font-size: 2em;
   line-height: 1em;
}

.digits-first {
   margin-top: -4em; /* number 4! */
}

.digits-second {
   margin-top: 0em; /* number 0! */
}

.digits-third {
   margin-top: -4em; /* number 4! */
}

.digits {
   animation-duration: 5s;
   animation-timing-function: ease;
   animation-delay: 2.2s;
   animation-fill-mode: forwards;
}

.luckie {
   animation-name: luckie;
}

/* Animations */
@keyframes luckie {
   100% {
       margin-top: -7em;
   }
}


/* Styling for the choosing of cards */
.img1 {
   background: #F0E9A9;
   cursor: pointer;
}
.img2 {
   background: #66E8D8;
   cursor: pointer;
}
.img3 {
   background: #AEF7CE;
   cursor: pointer;
}
.img4 {
   background: #F9B5B5;
   cursor: pointer;
}

/* Input Styling */
.labl {
   display:flex;
   justify-content: center;
}
.labl > input{ /* HIDE RADIO */
   visibility: hidden; /* Makes input not-clickable */
   position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
   cursor:pointer;
   border:2px solid transparent;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: #dfdfdf;
   border: 1px solid #f5f397;
   width: 100%;
}

/* Input Styling Ends */