
<div class="container bg my-5">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card border">
        <div class="card-header d-flex bg-dark justify-content-between">
            <span class='p-text text-white'>Your Balance</span>
          </div>
          <div class="card-body">                               
            <div class="d-flex justify-content-between">
              <span>₦{{balance}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card border">
          <div class="card-header d-flex bg-dark justify-content-between">
              <span class='p-text text-white'>Load Credit</span>
            </div>
            <div class="card-body">                               
              <div class="d-flex justify-content-between">
                 
                 <div> <input type="number" id="amountpay"  class="form-control" placeholder="Amount" /></div> 
                  <div> <button class="btn btn-warning px-4" (click)="createTransaction()" >Buy</button>
                    <button hidden class="btn btn-warning px-4" id="invokepay" data-toggle="modal" data-target="#paystackModal">Buy</button>
                  
                  
                    <!-- <angular4-paystack
                    key="pk_test_d720589674796a7e24aa0dc4a8a85475f9cf4ca2"
                    email="{{email}}"
                    amount="{{amount}}"
                    [ref]="{{transactionRef}}"
                    (close)="paymentCancel()"
                    (callback)="paymentDone($event)"
                    [class]="'btn btn-primary'"
                  >Pay with Paystack</angular4-paystack> -->

           
                  </div> 
                  <!-- <angular4-paystack
                  [key]="'pk_test_d720589674796a7e24aa0dc4a8a85475f9cf4ca2'"
                  [email]="email"
                  [amount]="amount"
                  [ref]="ref"
               
                  [class]="'btn btn-primary'"
                  (close)="paymentCancel()"
                  (callback)="paymentDone($event)"
                >Pay  Paystack</angular4-paystack> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card border">
            <div class="card-header d-flex bg-dark justify-content-between">
                <span class='p-text text-white'>Your Balance</span>
              </div>
              <div class="card-body">                               
                <div class="d-flex justify-content-between">
                    <button class="btn btn-warning" (click)="open(content)">Cash Out</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      
</div>
<!-- Cash Out Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cash Out</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <h5>Confirm Your Bank Details</h5>
    <p><b>Name: </b>{{userDetails.firstname}} {{userDetails.lastname}}</p>
    <p><b>Bank name: </b>{{userDetails.bankName}}</p>
    <p><b>Account number: </b>{{userDetails.accountNumber}}</p>
    <div>
      <input type="number" min="1000" max="500000" id="payamount" name="payamount" class="form-control"/> 
    </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" (click)="requestPayout()">Pay Out</button>
    </div>
  </ng-template>
  <div>
  
      



  </div>
  <!-- Modal -->
<div class="modal fade" id="paystackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Make payment </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <angular4-paystack-embed
    key="pk_test_d720589674796a7e24aa0dc4a8a85475f9cf4ca2"
    email="king@yahoo.com"
    [amount]=amount
    [ref]=transactionRef
    (close)="paymentCancel()"
    (callback)="paymentDone($event)"
  ></angular4-paystack-embed> -->

  <button class="btn btn-warning"
  angular4-paystack
  key="pk_live_48e8e7cade6db04d1b2a3f065cb6f9abacba9e5f"
    [email]=email
    [amount]=amount
    [ref]=transactionRef
  [class]="'btn btn-primary'"
  (close)="paymentCancel()"
  (callback)="paymentSucceed($event)"
>Pay with Paystack</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>