<div class="container bg">
    <img src="../../assets/nysp.jpg" class="my-3" width="100%">
  <h4>Terms and Conditions</h4>
  <ul>
    <li>No person below the age of eighteen (18) years shall participate in the promo scheme.</li>
    <li>Any person (s) found to violate the set age limit rule of the promo scheme consequently, shall be handed over to the appropriate law enforcement agency.</li>
    <li>Participants must keep their winning cards secure and safe until claims have been fully redeemed.</li>
    <li>Participant shall report lost card details through our support help desk to confirm status if the card has been claimed by another person, if not claimed, the affected winning card shall be blocked until a proper proof of ownership is provided by the claimant.</li>
    <li>The promoter, and or any of her assigns and agents shall not be liable or held liable for any lost card.</li>
    <li>Participant agrees not to hold the promoter, and or any of her assigns and agents to account for any financial loss whether a card is reported stolen or not if value have already been redeemed.</li>
    <li>Prizes can only be redeemed if and when a card information supplied by the card holder to our claims unit for verified and confirmed.</li>
    <li>In case of participant demise, authorised family member may present winning card in person at any of our agent location to redeem said prize won by the deceased.</li>
    <li>Under no condition shall the promoter make refund of cards value purchased to the participant.</li>
    <li>Buying a TWC Scratch N Win promo card neither qualify nor entitle a person (s) to win cash prizes, electronic and or gift item.</li>
    <li>A participant can only win a cash prize, electronic and or gift items if and when he/she purchase the lucky winning card.</li>
    <li>TWC Scratch “N” Win promo card is not transferable.</li>
    <li>Copying or reproduction of any part of the TWC Scratch “N” Win promo card is prohibited.</li>
    <li>Winners are brand ambassadors of TWC "Scratch 'N Win" Promo, therefore, promoters shall use photos, pictures, images and or any other information of winners’ for promotion purposes.</li>
  </ul>
</div>
