<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
                <a class="navbar-brand" href="#"><img class="mr-1" src="../../assets/scratchnwinhead.png"></a>
        </div>

        <ul class="list-unstyled components">
            <li>
              <a class="nav-menu" (click)="gotoDashboard()">Dashboard</a>                
            </li>
            <li>
                <a class="nav-menu" routerLink="accounts">Account</a> 
            </li>
            <li>
                <a class="nav-menu" routerLink="transactions">Transactions</a>                
            </li>
            <li>
              <a class="nav-menu" routerLink="profile">Profile</a>
            </li>          
        </ul>

    </nav>
    <!-- Page Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-danger">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                </button>
                <!-- Flying Text -->
                <ul class="navbar-nav mr-auto marquee">
                    <li class="nav-item active">
                    <h3 class="d-inline mt-2">Making Instant Millionaires!!</h3>            
                   </li>          
                 </ul>
                 <button class="btn btn-danger d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto text-white">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Your Balance: ₦{{balance}}</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>-->
                        <li class="nav-item">
                                <button class="btn btn-sm btn-danger text-white" (clcik)="loggout()" routerLink="/">Log Out</button>
                        </li> 
                    </ul>
                </div>
            </div>
        </nav>    
            <router-outlet></router-outlet>
            <app-footer class="fixed-bottom"></app-footer>
    </div>
</div>



