<div class="container bg my-5">
    <ngb-tabset>
        <ngb-tab title="Play History">
          <ng-template ngbTabContent>
              <table>
                  <thead>
                    <tr>
                      <th scope="col">Serial Number</th>
                      <th scope="col">Date Played</th>
                      <th scope="col">Amount Played</th>
                      <th scope="col">Status</th>   
                      <th scope="col">Amount Won</th>        
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr *ngFor="let game of gamePlayed">
                      <td data-label="Serial">{{game.serial}}</td>
                      <td data-label="Date">{{game.date  }}</td>
                      <td data-label="Amount">{{game.amount}}</td>
                      <td *ngIf='game.isWon' data-label="Status" class="text-success"><strong >WON</strong></td>
                      <td *ngIf='!game.isWon' data-label="Status" class="text-danger"><strong >LOST</strong></td>
                      <td data-label="Amount won">{{game.amountWon}}</td>
                    </tr>
                  
                  </tbody>
                </table>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Transaction History">
          <ng-template ngbTabContent>
              <table>
                  <thead>
                    <tr>
                      <th scope="col">Account</th>
                      <th scope="col">Transaction type</th>
                      <th scope="col">Date</th>
                      <th scope="col">Reasons</th>        
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tr of transactions">
                      <td data-label="Amount">{{tr.amount}}</td>
                      <td data-label="Type">{{tr.type}}</td>
                      <td data-label="Date">{{tr.date}}</td>
                      <td data-label="Reason">{{tr.reason}}</td>
                    </tr>
                  
                  </tbody>
                </table>
          </ng-template>          
        </ngb-tab>        
      </ngb-tabset>

</div>