/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "./assets/odometer-theme-slot-machine.css";

* {
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1em;
}
p {
  font-size: 1em;
} /* 16px */

.bg {
  background: linear-gradient(
      180deg,
      #ffffffe3 0%,
      rgba(255, 255, 255, 0.89) 99.99%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(./assets/scratchnwinbg.png);
}

a {
  color: #dc3545;
}

w-100 {
  width: 100% !important;
}
.w-80 {
  width: 80% !important;
}
.w-75 {
  width: 75% !important;
}
.w-60 {
  width: 60% !important;
}
.w-50 {
  width: 50% !important;
}
.w-40 {
  width: 40% !important;
}
.w-25 {
  width: 25% !important;
}
.w-20 {
  width: 20% !important;
}

@media (max-width: 576px) {
  .w-sx-100 {
    width: 100% !important;
  }
  .w-sx-80 {
    width: 80% !important;
  }
  .w-sx-75 {
    width: 75% !important;
  }
  .w-sx-60 {
    width: 60% !important;
  }
  .w-sx-50 {
    width: 50% !important;
  }
  .w-sx-40 {
    width: 40% !important;
  }
  .w-sm-25 {
    width: 25% !important;
  }
  .w-sx-20 {
    width: 20% !important;
  }
}

@media (min-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
  .w-sm-80 {
    width: 80% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
  .w-sm-60 {
    width: 60% !important;
  }
  .w-sm-50 {
    width: 50% !important;
  }
  .w-sm-40 {
    width: 40% !important;
  }
  .w-sm-25 {
    width: 25% !important;
  }
  .w-sm-20 {
    width: 20% !important;
  }
}

@media (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }
  .w-md-80 {
    width: 80% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-60 {
    width: 60% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-40 {
    width: 40% !important;
  }
  .w-md-25 {
    width: 25% !important;
  }
  .w-md-20 {
    width: 20% !important;
  }
}

@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
  .w-lg-80 {
    width: 80% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-60 {
    width: 60% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-40 {
    width: 40% !important;
  }
  .w-lg-25 {
    width: 25% !important;
  }
  .w-lg-20 {
    width: 20% !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-100 {
    width: 100% !important;
  }
  .w-xl-80 {
    width: 80% !important;
  }
  .w-xl-75 {
    width: 75% !important;
  }
  .w-xl-60 {
    width: 60% !important;
  }
  .w-xl-50 {
    width: 50% !important;
  }
  .w-xl-40 {
    width: 40% !important;
  }
  .w-xl-25 {
    width: 25% !important;
  }
  .w-xl-20 {
    width: 20% !important;
  }
}

/* Scroll Bar */

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #b76139),
    color-stop(0.86, #0ea600)
  );
}
