* {
  overflow: hidden;
}

/* Falling Dices Animation Starts Here */
.falling span {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: -280px 40px 54px -34px;
  background: url("../../assets/notes.jpg") no-repeat;
  animation: falling 5s infinite linear;
  -moz-animation: falling 5s infinite linear;
}

.falling span:nth-child(5n + 5) {
  animation-delay: 1s;
  -moz-animation-delay: 1s;
}

.falling span:nth-child(3n + 2) {
  animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

.falling span:nth-child(2n + 5) {
  animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
}

@keyframes falling {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(100px, 600px) rotateZ(270deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}
/* Falling Animation Ends Here */

/* The Sliding Text */
/* Make it a marquee */
.marquee {
  width: 450px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 15s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

/* Make it move */
@keyframes marquee {
  0% {
    text-indent: 27.5em;
  }
  100% {
    text-indent: -50em;
  }
}

/* Toggle Button */
.toggle-off {
  display: none !important;
}

.badge {
  line-height: normal !important;
}

/* Styling for the Winners List */
.list-group-item {
  padding: 0.75rem 1.2rem;
}
.list {
  margin: auto;
  height: 30em;
  width: 100%;
  overflow-y: scroll; /* This changed */
}

/* ul {
  width: 300px;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -150px;
} */

li {
  /* position: relative;
  display: block;
  border: 1px solid hotpink; */
  margin-bottom: 5px;
  padding: 5%;
  /* text-align: center; */
  -webkit-animation: fadeIn 0.5s linear;
  animation: fadeIn 0.5s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

li:nth-child(1) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

li:nth-child(2) {
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

li:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

li:nth-child(4) {
  -webkit-animation-delay: 13s;
  animation-delay: 13s;
}

li:nth-child(5) {
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}

li:nth-child(6) {
  -webkit-animation-delay: 19s;
  animation-delay: 19s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
